#signin {
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

#creator_name,
#creator_atributo {
    width: 100%;
}

#signin div {
    width: 100%;
}

#creator_atributos_div {
    display: block;
    gap: 10px;
}

#creator_atributos_div button {
    margin-top: 0px;
}

#creator_atributos_div div {
    /* display: flex; */
}

#create_atributos {
    display: block;
    text-align: center;
    margin-top: 1rem;
    /* justify-self: right; */
    /* text-align: right; */
}

#create_atributos div {
    margin: auto;
    display: block;
    position: relative;
}